<!DOCTYPE html>
<html>
  <head>
    <title>Top100</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  <% if Rails.env.development? %>
  <script src="http://localhost:3808/webpack-dev-server.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

<% end %>
</head>

  <body>
    <div class='container'>
    <%= yield %>
</body>
</html>
